<div>

  <section id="summary">

      <h2>Summary</h2>
      <p>
        Software Engineer with over 3 years of industry experience  
        building computer vision applications in C and C++. Have a 
        strong research background and technical expertise in signal and 
        image processing. Currently working as a Senior Software Engineer
        on the Core Vision team at Cognex Corporation, a machine vision company
        that builds software and sensors used in automated manufacturing to 
        inspect and identify parts, detect defects, and guide assembly robots.
      </p>

  </section>

  <section id="skills">

      <h2>Skills</h2>

      <div class="skillstable">

          <div class="tablerow">

              <ul class="cell">
                  <li>C++, C, Python, Java, C#, Matlab</li>
                  <li>OpenCV, Cognex Vision Libraries</li>
                  <li>ClearCase, git</li>
              </ul>

              <ul class="cell">
                  <li>Windows and Linux environments</li>
                  <li>Experience with TI C64x DSPs</li>
                  <li>Experience with Android development</li>
              </ul>

          </div>

      </div>

  </section>

  <section id="Experience">

      <h2>Experience</h2>

      <section id="company1">

          <div class="jobtable">
            <div class="tablerow">
                <span class="jobtitle">Senior Software Engineer, Core Vision</span>
                <span class="right info">Feb 2014 - Present</span>
            </div>

            <div class="tablerow">
                <span class="companyname">
                  <a href="http://www.cognex.com">Cognex Corporation</a>
                </span>
                <span class="right info">Natick, MA</span>
            </div>

          </div>

          <div class="table">
            Responsible for developing efficient and robust machine vision 
            software libraries in C and C++ to run on PC and embedded platforms. 
            <p></p>
          </div>  
          
          <div class="table">
            <b>2D Part Alignment</b> Developed suite of tools in C++ to align
            2D shapes to automate cell-phone assembly.
            <ul>
              <li>
                Created tool to calibrate multiple cameras and a 
                moving stage to within 0.005 mm accuracy. Automatically 
                detect and rectify skew and scale errors in the stage setup.
              </li>

              <li>
                Created robust line finding tool that finds and ranks
                multiple lines across multiple fields of view. Achieved speeds
                comparable with existing single image single line finding tools.
              </li>

              <li>
                Created tool to estimate the best fit 2D rigid 
                pose that centers one polygon inside another, to within
                0.01mm accuracy.
              </li>

            </ul>
          </div>
      </section>

      <section id="company2">

          <div class="jobtable">
            <div class="tablerow">
                <span class="jobtitle">Software Engineer, Core Vision</span>
                <span class="right info">Jun 2011 - Feb 2014</span>
            </div>

            <div class="tablerow">
                <span class="companyname">
                  <a href="http://www.cognex.com">Cognex Corporation</a>
                </span>
                <span class="right info">Natick, MA</span>
            </div>

          </div>


          <div class="table">
            <b>3D Measurement Tools</b> Developed suite of tools in C to perform
            3D measurements on depth-images.
            <ul>
              <li>
                Responsible for identifying the vision tools required to 
                solve target applications. Collected datasets and built 
                application prototypes in C#. Determined function specifications
                and made recommendations on which tools to build.
              </li>

              <li>
                Created tools for estimating planes, and measuring heights and 
                volumes in a depth-image. 
              </li>
            </ul>
          </div>

          <div class="table">
            <b>Edge Inspection</b> Created C++ wrapper of edge inspection
            tool written in C.

            <ul>
              <li>
                Added multi-threaded support and functionality to detect gap 
                defects.
              </li>
              <li>
                Added support to detect edges in affine warped images.
              </li>
            </ul>
          </div> 

          <div class="table">
            <b>Database Collection Tool</b> Created a GUI application in C# to
            automate image database collection for testing purposes.
            <p></p>
          </div>         

          <div class="table">
            Supervised an intern and helped him port a barcode reader to 
            run on Android.
            <p></p>
          </div>     
      </section>      
 
      <section id="company3">
          <div class="jobtable">

            <div class="tablerow">
                <span class="jobtitle">Research Assistant</span>
                <span class="right info">May 2010 - May 2011</span>
            </div>

            <div class="tablerow">
                <span class="companyname">
                  <a href="http://cvgl.stanford.edu/">
                    Computer Vision Lab, University of Michigan
                  </a>
                </span>
                <span class="right info">Ann Arbor, MI</span>
            </div>

            <div class="tablerow">
                <span class="info">
                  <i>Research advisor, Silvio Savarese</i>
                </span>
            </div>            

          </div>

         <div class="table">
            Responsible for conducting research on 2D and 3D object detection 
            algorithms. 
            <p></p>
          </div>  
          
          <div class="table">
            <b>Object detection in short video sequences</b> Developed a novel
            algorithm to improve Hough voting based object detection rates 
            by transferring Hough votes across multiple frames. 
            <ul>
              <li>
                Improved performance over single-frame Hough voting based
                object detection by as much as 15%.
              </li>

              <li>
                Implemented as a client-server framework for Android. The server
                was written in OpenCV.
              </li>
            </ul>           
          </div>

          <div class="table">
            <b>Object detection and semantic modeling of LIDAR data</b> 
            Developed a framework to identify 3D objects in point cloud data
            from LIDAR scans of large environments, and replace found objects
            with 3D CAD models. Implemented in MATLAB.    
            <p></p>    
          </div>          

      </section>
  </section>


      <section id="publications">

          <h2>Publications</h2>

          <div class="jobtable">

            <div class="tablerow">
                <span class="companyname">
                  Visual localization in fused image and laser range data
                </span>
                <span class="right info">ICRA, 2011</span>
            </div>

            <div class="tablerow">
                <span class="info">
                  Nicholas Carlevaris-Bianco, <b>Anush Mohan</b>, James R. McBride 
                  and Ryan M. Eustice,
                </span>
            </div>            

          </div>

          <div class="table">
            Developed a method for tracking a camera system using a Kalman Filter,
            within an a-priori known map constructed from co-registered LIDAR and image 
            data. Implemented in Matlab and C++.
            <p></p>   
          </div>      

          <div class="jobtable">

            <div class="tablerow">
                <span class="companyname">
                  Initial results in underwater single image dehazing.
                </span>
                <span class="right info">OCEANS, 2010</span>
            </div>

            <div class="tablerow">
                <span class="info">
                  Nicholas Carlevaris-Bianco, <b>Anush Mohan</b> and Ryan M. Eustice,
                </span>
            </div>            

          </div>    

          <div class="table">
            Developed a novel method for removing haze from underwater images,
            using a single image and no specialized hardware or prior knowledge
            of the scene. Implemented in Matlab.
            <p></p>  
          </div>    

      </section>

  <section id="education">
      <h2>Education</h2>

      <div class="edtable">

          <div class="tablerow">
              <span class="jobtitle">University of Michigan</span>
              <span class="right info">Sept 2009 - May 2011</span>
          </div>

          <div class="tablerow">
              <span class="info">
                <i>Masters of Science, Electrical Engineering</i>
              </span>
              <span class="right info">Ann Arbor, MI</span>
          </div>

          <div class="tablerow">
              <span>Specialization in computer vision and image processing</span>
              <span class="right info">GPA: 3.9/4</span>
          </div>    

      </div>

      <div class="edtable">

          <div class="tablerow">
              <span class="jobtitle">BMS College of Engineering</span>
              <span class="right info">Sept 2005 - May 2009</span>
          </div>

          <div class="tablerow">
              <span class="info">
                <i>Bachelors of Engineering, Electronics and Communications</i>
              </span>
              <span class="right info">Bangalore, India</span>
          </div>

          <div class="tablerow">
              <span>Major in signal processing.</span> 
              <span class="right info">GPA: 3.75/4</span>
          </div>       

          <div class="tablerow">
              <span>Thesis on Image Stitching to Create Panoramas</span>
          </div>       


      </div>

  </section>
</div>


