<div>
  <!-- SUMMARY -->
  <p>
    Software engineer, computer vision specialist and augmented reality enthusiast.
  </p>

  <!-- SKILLS -->
  <section id="skills">
      <h2>Skills</h2>
      <div class="skillstable">
          <div class="tablerow">
              <ul class="cell">
                  <li>C++, C, Python</li>
                  <li>OpenCV, ROS, ZeroMQ, Eigen, Boost, Protobuf</li>
                  <li>git, cmake</li>
              </ul>
          </div>
      </div>
  </section>

  <!-- EXPERIENCE -->
  <section id="Experience">
      <h2>Experience</h2>
      <!-- COMPANY 1 -->
      <section id="company1">
          <!-- JOB TITLE -->
          <div class="jobtable">
            <div class="tablerow">
                <span class="jobtitle">Lead Engineer, Computer Vision</span>
                <span class="right info">Oct 2014 - Present</span>
            </div>
            <!-- COMPANY NAME -->
            <div class="tablerow">
                <span class="companyname">
                  <a href="http://www.magicleap.com">Magic Leap</a>
                </span>
                <span class="right info">Mountain View, CA</span>
            </div>
          </div>
          <!-- JOB DESCRIPTION -->
          <!-- PROJECT 1 -->
          <div class="table">
            Responsible for leading the development of 3D pose tracking algorithms for a see-through Mixed Reality system.
          </div>

          <p></p>
      </section>

      <!-- COMPANY 2 -->
      <section id="company2">
          <!-- JOB TITLE -->
          <div class="jobtable">
            <div class="tablerow">
                <span class="jobtitle">Senior Software Engineer, Core Vision</span>
                <span class="right info">Jun 2011 - Sep 2014</span>
            </div>
            <!-- COMPANY NAME -->
            <div class="tablerow">
                <span class="companyname">
                  <a href="http://www.cognex.com">Cognex Corporation</a>
                </span>
                <span class="right info">Natick, MA</span>
            </div>
          </div>
          <!-- JOB DESCRIPTION -->
          <div class="table">
            Responsible for developing efficient and robust machine vision
            software libraries in C and C++ to run on PC and embedded platforms.
            <p></p>
          </div>
      </section>

      <!-- COMPANY 3 -->
      <section id="company3">
          <div class="jobtable">
          <!-- JOB TITLE -->
            <div class="tablerow">
                <span class="jobtitle">Research Assistant</span>
                <span class="right info">May 2010 - May 2011</span>
            </div>
            <!-- COMPANY NAME -->
            <div class="tablerow">
                <span class="companyname">
                  <a href="http://cvgl.stanford.edu/">
                    Computer Vision Lab, University of Michigan
                  </a>
                </span>
                <span class="right info">Ann Arbor, MI</span>
            </div>
            <!-- INFO -->
            <div class="tablerow">
                <span class="info">
                  <i>Research advisor, Silvio Savarese</i>
                </span>
            </div>
          </div>
          <!-- JOB DESCRIPTION -->
         <div class="table">
            Responsible for conducting research on 2D and 3D object detection
            algorithms.
            <p></p>
          </div>
      </section>
  </section>

      <!-- PUBLICATIONS -->
      <section id="publications">
          <h2>Publications</h2>
          <!-- PUBLICATION 1 -->
          <div class="jobtable">
            <!-- TITLE -->
            <div class="tablerow">
                <span class="companyname">
                  Visual localization in fused image and laser range data
                </span>
                <span class="right info">ICRA, 2011</span>
            </div>
            <!-- AUTHORS -->
            <div class="tablerow">
                <span class="info">
                  Nicholas Carlevaris-Bianco, <b>Anush Mohan</b>, James R. McBride
                  and Ryan M. Eustice,
                </span>
            </div>
          </div>

          <p></p>

          <!-- PUBLICATION 2 -->
          <div class="jobtable">
            <!-- TITLE -->
            <div class="tablerow">
                <span class="companyname">
                  Initial results in underwater single image dehazing.
                </span>
                <span class="right info">OCEANS, 2010</span>
            </div>
            <!-- AUTHORS -->
            <div class="tablerow">
                <span class="info">
                  Nicholas Carlevaris-Bianco, <b>Anush Mohan</b> and Ryan M. Eustice,
                </span>
            </div>
          </div>
      </section>

  <!-- EDUCATION -->
  <section id="education">
      <h2>Education</h2>
      <!-- SCHOOL 1 -->
      <div class="edtable">
      <!-- NAME -->
          <div class="tablerow">
              <span class="jobtitle">University of Michigan</span>
              <span class="right info">Sept 2009 - May 2011</span>
          </div>
          <!-- DEGREE -->
          <div class="tablerow">
              <span class="info">
                <i>Masters of Science, Electrical Engineering</i>
              </span>
              <span class="right info">Ann Arbor, MI</span>
          </div>
          <!-- INFO -->
          <div class="tablerow">
              <span>Specialization in computer vision and image processing</span>
              <span class="right info">GPA: 3.9/4</span>
          </div>
      </div>

      <!-- SCHOOL 2 -->
      <div class="edtable">
          <!-- NAME -->
          <div class="tablerow">
              <span class="jobtitle">BMS College of Engineering</span>
              <span class="right info">Sept 2005 - May 2009</span>
          </div>
          <!-- DEGREE -->
          <div class="tablerow">
              <span class="info">
                <i>Bachelors of Engineering, Electronics and Communications</i>
              </span>
              <span class="right info">Bangalore, India</span>
          </div>
          <!-- INFO -->
          <div class="tablerow">
              <span>Major in signal processing.</span>
              <span class="right info">GPA: 3.75/4</span>
          </div>
      </div>
  </section>
</div>


