<div>
  <!-- SUMMARY -->
  <p>
    Software engineer, manager and technical leader who likes to solve challenging computational problems. Specialization in Computer Vision, Robotics and Machine Learning, currently focussed on building SLAM systems for Mixed Reality. Expertise in taking complex features through a full development life-cycle from conception, to prototyping and research and finally into development and product integration on embedded platforms.
  </p>

  <!-- SKILLS -->
  <section id="skills">
      <h2>Skills</h2>
      <div class="skillstable">
          <div class="tablerow">
              <!-- First column -->
              <ul class="cell">
                  <li>Computer Vision, Robotics, Machine Learning</li>
                  <li>Strategic Planning, Goal Setting, Delegation</li>
                  <li>Strong Verbal and Written Communication</li>
                  <li>Scrum, Agile</li>
              </ul>
              <!-- Second column -->
              <ul class="cell">
                  <li>C++, C, Python</li>
                  <li>OpenCV, ROS, ZeroMQ, Eigen, Boost, Protobuf</li>
                  <li>git, cmake</li>
              </ul>
          </div>
      </div>
  </section>

  <!-- EXPERIENCE -->
  <section id="Experience">
      <h2>Experience</h2>
      <!-- COMPANY 1 -->
      <section id="company1">
          <!-- JOB TITLE -->
          <div class="jobtable">
            <div class="tablerow">
                <span class="jobtitle">Director, Computer Vision</span>
                <span class="right info">Sept 2014 - Present</span>
            </div>
            <!-- COMPANY NAME -->
            <div class="tablerow">
                <span class="companyname">
                  <a href="http://www.magicleap.com">Magic Leap</a>
                </span>
                <span class="right info">Sunnyvale, CA</span>
            </div>
          </div>
          <!-- JOB DESCRIPTION -->
          <!-- PROJECT 1 -->
          <div class="table">
            Lead a global, cross-functional team of over 30 engineers (researcher and embedded developers) to develop Head Tracking algorithms for the Magic Leap One.
            <ul>
              <li>Product owner of one of the core Perception areas at Magic Leap.</li>
              <li>Software architect of the Magic Leap Head Tracking pipeline, that runs a highly parallelized and distributed SLAM system across multiple processors/platforms.</li>
              <li>Responsible for the full development cycle of Head Tracking - from requirements gathering and functional specifications to prototyping, development, evaluation and final integration into the production software stack.</li>
              <li>Product owner and architect of large scale mapping algorithms running on the ML Cloud.</li>
            </ul>

            Previously:
            <p>
              Manager, Computer Vision - Feb 2016 - Oct 2017<br/>
              Lead Software Engineer, Computer Vision - Sept 2015 - Feb 2016<br/>
              Senior Software Engineer, Computer Vision - Sept 2014 - Sept 2015<br/>
            </p>

          </div>

          <p></p>
      </section>

      <!-- COMPANY 2 -->
      <section id="company2">
          <!-- JOB TITLE -->
          <div class="jobtable">
            <div class="tablerow">
                <span class="jobtitle">Senior Software Engineer, Core Vision</span>
                <span class="right info">Jun 2011 - Sep 2014</span>
            </div>
            <!-- COMPANY NAME -->
            <div class="tablerow">
                <span class="companyname">
                  <a href="http://www.cognex.com">Cognex Corporation</a>
                </span>
                <span class="right info">Natick, MA</span>
            </div>
          </div>
          <!-- JOB DESCRIPTION -->
          <div class="table">
            Developed efficient and robust machine vision software libraries in C and C++ to handle various perception tasks in industrial manufacturing lines.
            <p></p>
          </div>
      </section>

      <!-- COMPANY 3 -->
      <section id="company3">
          <div class="jobtable">
          <!-- JOB TITLE -->
            <div class="tablerow">
                <span class="jobtitle">Research Assistant</span>
                <span class="right info">May 2010 - May 2011</span>
            </div>
            <!-- COMPANY NAME -->
            <div class="tablerow">
                <span class="companyname">
                  <a href="http://cvgl.stanford.edu/">
                    Computer Vision Lab, University of Michigan
                  </a>
                </span>
                <span class="right info">Ann Arbor, MI</span>
            </div>
            <!-- INFO -->
            <div class="tablerow">
                <span class="info">
                  <i>Research advisor, Silvio Savarese</i>
                </span>
            </div>
          </div>
          <!-- JOB DESCRIPTION -->
         <div class="table">
            Conducted research on 2D and 3D object detection algorithms.
            <p></p>
          </div>
      </section>
  </section>

  <!-- EDUCATION -->
  <section id="education">
      <h2>Education</h2>
      <!-- SCHOOL 1 -->
      <div class="edtable">
      <!-- NAME -->
          <div class="tablerow">
              <span class="jobtitle">University of Michigan</span>
              <span class="right info">Sept 2009 - May 2011</span>
          </div>
          <!-- DEGREE -->
          <div class="tablerow">
              <span class="info">
                <i>Masters of Science, Electrical Engineering</i>, GPA: 3.9/4
              </span>
              <span class="right info">Ann Arbor, MI</span>
          </div>
      </div>

      <!-- SCHOOL 2 -->
      <div class="edtable">
          <!-- NAME -->
          <div class="tablerow">
              <span class="jobtitle">BMS College of Engineering</span>
              <span class="right info">Sept 2005 - May 2009</span>
          </div>
          <!-- DEGREE -->
          <div class="tablerow">
              <span class="info">
                <i>Bachelors of Engineering, Electronics and Communications</i>, GPA: 3.75/4
              </span>
              <span class="right info">Bangalore, India</span>
          </div>
      </div>
  </section>
</div>


