<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{ site.title }}</h1>
      <img src="{{ site.url }}public/images/anush_mug_resume.jpg">
      <p class="lead">{{ site.description }}</p> 
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item"><a href="{{ site.pdf_download.link }}">Download</a></li>

      <li>
          <a class="sidebar-nav-item" href="mailto:{{ site.author.email }}">Contact</a>
      </li>

      <li>
          <a class="sidebar-link-item" target="_blank" href="{{ site.github.link }}">GitHub</a>
         &nbsp; &bull; &nbsp;
          <a class="sidebar-link-item" target="_blank" href="{{ site.linkedin.link }}">LinkedIn</a>
      </li>
    </ul>

    <p class="footer">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>

  </div>
</div>
