<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

    <head>
      <meta http-equiv="content-type" content="text/html; charset=utf-8">

      <!-- CSS -->
      <link rel="stylesheet" href="./public/css/resume.css">
      <link rel="stylesheet" href="./public/css/poole.css">
      <link rel="stylesheet" href="./public/css/syntax.css">
      <link rel="stylesheet" href="./public/css/hyde.css">
      <!-- Adjust google font weights for pdf-->
      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,800,300italic,800italic|Abril+Fatface">

      <!-- Override font size-->
      <style>
        html {
          font-size: 16px;
        }
      </style>

    </head>


  <body>
    <div class="resume">
        <header id="info">
          <h1>Anush Mohan</h1>
            <div class="headertable">
                <div class="tablerow">
                    <span>170 Gore Street, Cambridge MA 02141 </span>
                    <span class="left">734.274.0291</span>
                    <span class="right">anush.mohan@gmail.com</span>
                </div>                            
            </div>

        </header>

      {{ content }}

    <section id="online">
        <h2>Online</h2>
        <div class="table">
            <div class="tablerow">
                <span class="onlinecell">GitHub:</span>
                <span class="urlcell">www.github.com/anushmohan</span>
            </div>        
            <div class="tablerow">
                <span class="onlinecell">LinkedIn:</span>
                <span class="urlcell">www.linkedin.com/anushmohan</span>
                <p></p>
            </div>
    </section>

    <div class="pagebreak"></div>

    </div>
  </body>
</html>
